.headgalary {
  font-family: Satisfy;
  font-size: 50px;
  text-align: center;
  color: black;
  padding: 1%;
}
#gallery {
  column-count: 4;
  column-count: 4;
  column-count: 4;

  column-gap: 20px;
  column-gap: 20px;
  column-gap: 20px;
}
@media (max-width: 1200px) {
  #gallery {
    column-count: 3;
    column-count: 3;
    column-count: 3;

    column-gap: 20px;
    column-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 800px) {
  #gallery {
    column-count: 2;
    column-count: 2;
    column-count: 2;

    column-gap: 20px;
    column-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 600px) {
  #gallery {
    column-count: 1;
    column-count: 1;
    column-count: 1;
  }
}
#gallery img {
  width: 100%;
  height: auto;
  margin: 4% auto;
  box-shadow: -3px 5px 15px #000;
  cursor: pointer;
  transition: all 0.2s;
  transition: all 0.2s;
}

.imgdetail {
  font-style: italic;
  font-size: 20px;
}
